{% load static %}

{% load i18n %}

<!DOCTYPE html>
{% get_current_language as CURRENT_LANGUAGE %}
<html lang="{{ CURRENT_LANGUAGE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "Casa Rural - Retiro de montaña" %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        /* Estilos para las banderas según el idioma seleccionado */
        .idioma-selector select[data-lang="es"] {
            background-image: url('{% static "media/images/base/spain_flag.png" %}');
        }

        .idioma-selector select[data-lang="en"] {
            background-image: url('{% static "media/images/base/england_flag.png" %}');
        }

        .idioma-selector select[data-lang="fr"] {
            background-image: url('{% static "media/images/base/france_flag.png" %}');
        }
    </style>
</head>
<body>
    <div class="contenedor-principal">
        <header class="cabecera">
            <nav class="menu-navegacion">
                <ul>
                    <li><a href="{% url 'menu' %}">{% trans "Inicio" %}</a></li>
                    <li><a href="{% url 'apartamentos' %}">{% trans "Apartamentos" %}</a></li>
                    <li><a href="{% url 'actividades' %}">{% trans "Actividades" %}</a></li>
                    <li><a href="{% url 'reservas' %}">{% trans "Reservas" %}</a></li>
                    <li><a href="{% url 'contacto' %}">{% trans "Contacto" %}</a></li>
                    <div class="idioma-selector">
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}" />
                            <select name="language" onchange="this.form.submit()" data-lang="{{ CURRENT_LANGUAGE }}" class="language-select">
                                <option value="es" {% if LANGUAGE_CODE == 'es' %} selected {% endif %}>ES</option>
                                <option value="en" {% if LANGUAGE_CODE == 'en' %} selected {% endif %}>EN</option>
                                <option value="fr" {% if LANGUAGE_CODE == 'fr' %} selected {% endif %}>FR</option>
                            </select>
                        </form>
                    </div>
                </ul>
            </nav>
        </header>

        <!-- Carrusel de imágenes con Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" style="background-image:url('{% static 'media/images/base/slides_01.jpeg' %}');">
                    <div class="slide-text">{% trans "Mensaje sobre la imagen 1" %}</div>
                </div>
                <div class="swiper-slide" style="background-image:url('{% static 'media/images/base/slides_02.jpeg' %}');">
                    <div class="slide-text">{% trans "Mensaje sobre la imagen 2" %}</div>
                </div>
                <!-- ... más slides ... -->
            </div>
            <!-- Si necesitas navegación -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>

        <main class="contenido">
            {% block content %}
            <!-- Contenido específico de la página -->
            {% endblock %}
        </main>

        <footer class="pie-pagina">
            {% trans "Casa Rural Lardies Girón - Derechos reservados" %} © {{ year }}
        </footer>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script src="{% static 'js/base/swiper.js' %}"></script>
    <!-- Initialize language_selector -->
    <script src="{% static 'js/base/language_selector.js' %}"></script>
</body>
</html>
